.example-card {
    max-width: 1000px;
    max-height: 400px;
    margin: 10px;
    margin-left: 30px;
  }
  .content{
      display:block;
  }

  .mat-card-image {
    width: 200px;
    margin: 0 -16px 16px -16px;
}
.info{
  float: right;
}


